body{
    background-color: rgb(165, 185, 214);
}
.container{
    display: flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;

}
.texts{
    text-align: center;
    color: rgb(49, 46, 46);
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 21px;
    margin-top: 35px;
    margin-bottom: 5px;
    width: 100%;
}
#Prem{
    color: rgb(253, 98, 98);
}
#free{
    color: rgb(49, 46, 46);
}
#Logo{
    margin-top: 25px;
    width: 250px;
    height: 50px;
}
#send-button{
    margin-top: 10px;
    background-color: #d2696b;
    height: 45px;
    border-radius: 7px;
    border: 2px;
    color: #fdf9ff;
    transition-duration: 0.1s;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11px;
    width: 140%
}

#send-button:hover{
    background-color: #c76263; 
}
#send-button:active{
    background-color: #c76263; 
    color: #a19fa1;
}
.message{
    margin-top: 10px;
    background-color:rgb(199, 206, 215);
    display: block;
  width: 130%;
  height: calc(1.80rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family:'Roboto', sans-serif;
  line-height: 1.5;
  color: #353333;
  outline: none;
  background-clip: padding-box;
  border: 1px solid #545252;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}